.pageContainer {
    width: 1280px;
    margin: 0 auto;
}

.pageContainer > * {
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .pageContainer {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .pageContainer {
        width: 680px;
    }
}

/*----------------------*/

.pageLayout {}

.pageLayout .column {
    width: 426px;
    display: inline-block;
    vertical-align: top;
}

.pageLayout .column .wrp {
    margin: 0 20px 20px 20px;
}

@media (max-width: 1280px) {
    .pageLayout {
        width: 1024px;
    }

    .pageLayout .column {
        width: 512px;
    }
}

@media (max-width: 1024px) {
    .pageLayout {
        width: 680px;
    }

    .pageLayout .column {
        width: 680px;
    }

}

.splitLayout {
    position: relative;
    min-height: 1em;
}

.splitLayout .left-pane,
.splitLayout .right-pane {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    overflow: hidden;
}

.splitLayout .left-pane {
    left: 0;
}

.splitLayout .right-pane {
    right: 0;
}

.splitLayout .divider {
    width: 5px;
    position: absolute;
    left: 50%;
    height: 100%;
    cursor: ew-resize;
    background: lightgray;
}

.splitLayout .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.popupPanel {
    position: relative;
    display: none;
}

.popupPanel .inner {
    position: absolute;
    z-index: 999999;
}

/*------------------------------------*/

.container.float,
.container.inline,
.container.table,
.container.flex {
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: top;
}

.container.float > .element {
    float: left;
}

.container.inline {
    display: block;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
}

.container.table {
    display: table;
    height: auto;
}

.container.flex {
    display: flex;
    flex-wrap: wrap;
}

.container.float:after,
.container.float:before,
.container.float > *:after,
.container.float > *:before {
    clear: both;
    display: table;
    content: " ";
}

.container > .element {
    display: block;
}

.container.flex > .element,
.container.table > .element,
.container.float > .element,
.container.inline > .element {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: inherit;
}

.container.table .element {
    display: table-cell;
}

.container > .element.c1 {
    width: 8.333333%;
}

.container > .element.c2 {
    width: 16.66666%;
}

.container > .element.c3 {
    width: 25%;
}

.container > .element.c4 {
    width: 33.333333%;
}

.container > .element.c5 {
    width: 41.666666%;
}

.container > .element.c6 {
    width: 50%;
}

.container > .element.c7 {
    width: 58.333333%;
}

.container > .element.c8 {
    width: 66.666666%;
}

.container > .element.c9 {
    width: 75%;
}

.container > .element.c10 {
    width: 83.333333%;
}

.container > .element.c11 {
    width: 91.666666%;
}

.container > .element.c12 {
    width: 100%;
}

.tabsPanel > .tab {
    cursor: pointer;
}
