.layout > * {
    float: left;
    width: 100%;
}

.layout.hor {
    display: table;
    width: 100%;
}

.layout.hor > * {
    float: none;
    display: table-cell;
}

.layout.ver > * {
    display: block;
    float: none;
}

.layout > *.right:last-child,
.layout.hor > *.right:last-child {
    float:right;
}

.layout.padding {
    padding: 10px ;
}

.layout.spacing > * {
    padding: 10px;
}

.layout:after,
.layout:before,
.layout > *:after,
.layout > *:before {
    clear: both;
    display: table;
    content: " ";
}

.layout > *.c1 {
    width: 8.333333%;
}

.layout > *.c2 {
    width: 16.66666%;
}

.layout > *.c3 {
    width: 25%;
}

.layout > *.c4 {
    width: 33.333333%;
}

.layout > *.c5 {
    width: 41.666666%;
}

.layout > *.c6 {
    width: 50%;
}

.layout > *.c7 {
    width: 58.333333%;
}

.layout > *.c8 {
    width: 66.666666%;
}

.layout > *.c9 {
    width: 75%;
}

.layout > *.c10 {
    width: 83.333333%;
}

.layout > *.c11 {
    width: 91.666666%;
}

.layout > *.c12 {
    width: 100%;
}

.pageContainer {
    width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .pageContainer {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .pageContainer {
        width: 680px;
    }
}

/*----------------------*/


.verticalLayout > * {
    display: block;
}

.verticalLayout.spacing > * {
    margin-bottom: 10px;
}

.verticalLayout.spacing > *:last-child {
    margin-bottom: 0;
}

.verticalLayout.padding, .horizontalLayout.padding {
    padding: 10px;
}

.horizontalLayout {
    white-space: nowrap;
    overflow: hidden;
}

.horizontalLayout > * {
    display: inline-block;
}

.horizontalLayout.spacing > * {
    margin-right: 10px;
}

.horizontalLayout.spacing > *:last-child {
    margin-right: 0;
}

.horizontalLayout > *.right {
    float: right;
}

.pageLayout {
    width: 1280px;
    margin: 0 auto;
}

.pageLayout .column {
    width: 426px;
    display: inline-block;
    vertical-align: top;
}

.pageLayout .column .wrp {
    margin: 0 20px 20px 20px;
}

@media (max-width: 1280px) {
    .pageLayout {
        width: 1024px;
    }

    .pageLayout .column {
        width: 512px;
    }
}

@media (max-width: 1024px) {
    .pageLayout {
        width: 680px;
    }

    .pageLayout .column {
        width: 680px;
    }

}

.splitLayout {
    position: relative;
    min-height: 1em;
}

.splitLayout .left-pane,
.splitLayout .right-pane {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    overflow: hidden;
}

.splitLayout .left-pane {
    left: 0;
}

.splitLayout .right-pane {
    right: 0;
}

.splitLayout .divider {
    width: 5px;
    position: absolute;
    left: 50%;
    height: 100%;
    cursor: ew-resize;
    background: lightgray;
}

.splitLayout .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.popupPanel {
    position: relative;
    display: none;
}

.popupPanel .inner {
    position: absolute;
    z-index: 999999;
}