.textField {
    display: inline-block;
}

.passwordField.error input,
.textField.error input {
    border: 1px solid red;
}
.passwordField.error span.error,
.textField.error span.error {
    color: red;
}

.button.link {
    background:none;
    border:none;
    padding:0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.dropdown ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    border: 1px solid #eeeeee;
}

.dropdown ul li {
    padding: 3px 20px;
}

.dropdown ul li:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.dropdown .caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}