.splitLayoutTest .splitLayout {
    height: 10em;
}

.containerTest .item {
    background: #eeeeee;
}

.containerTest .item:nth-child(odd) {
    background: #DDDDDD;
}

.containerTest .container.inline .item {
}