.layoutTest .layout {
    /*border: 1px solid grey;*/
    background: lightgray;
}

.layoutTest .element {
    background: #9f0000;
    color: white;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    border: 1px solid red;
}

/*SplitLayoutTest*/

.SplitLayoutTest .splitLayout {
    height: 200px;
    width: 500px;
    background: #eeeeee;
}

.SplitLayoutTest .splitLayout .left-pane > *,
.SplitLayoutTest .splitLayout .right-pane > * {
    margin: 10px;
}